<ion-app>
  <ion-split-pane contentId="main">  
    <ion-menu side="end" menuId="first" contentId="main">
      <ion-header>
        <ion-toolbar color="dark">
          <ion-title>Comandos</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-text color="primary">
              <h3>ABRIR CALENDÁRIO</h3>
            </ion-text>
            <p>Comando utilizado para abrir calendário</p>
            <ion-text color="secondary">
            </ion-text>
          </ion-label>
        </ion-item>
        
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-text color="primary">
              <h3>ALTERAR EXIBIÇÃO</h3>
            </ion-text>
            <p>Comando utilizado para aterar o modo de exibição do calendário</p>
            <ion-text color="secondary">
              <p>Opções para este comando: "DIA"; "MÊS" ou "ANO" </p>
            </ion-text>
          </ion-label>
        </ion-item>
        
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-text color="primary">
              <h3>ADICIONAR EVENTO</h3>
            </ion-text>
            <p>Comando utilizado para adicionar novo evento</p>
            <ion-text color="secondary">
              <p>Deve ser informado em sequência dia e mês do evento</p>
            </ion-text>
          </ion-label>
        </ion-item>
        
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-text color="primary">
              <h3>EXIBIR EVENTOS</h3>
            </ion-text>
            <p>Comando utilizado para exibir eventos</p>
            <ion-text color="secondary">
              <p>Deve ser informado em sequência dia e mês do evento</p>
            </ion-text>
          </ion-label>
        </ion-item>
      
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-text color="primary">
              <h3>ADICIONAR LEMBRETE</h3>
            </ion-text>
            <p>Comando para adicionar lembretes</p>
            <ion-text color="secondary">
              <p>Deve ser informado em sequência o nome do lembrete</p>
            </ion-text>
          </ion-label>
        </ion-item>
      
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-text color="primary">
              <h3>REMOVER LEMBRETE</h3>
            </ion-text>
            <p>Comando para remover lembretes</p>
            <ion-text color="secondary">
              <p>Deve ser informado em sequência o número do lembrete</p>
            </ion-text>
          </ion-label>
        </ion-item>
      
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app>