ion-content {
    --background: linear-gradient(#000000, #212121, #424242);
    }

ion-tab-bar, ion-tab-button{
    background-color: #424242,
    }

ion-icon{
    color: #d7d8da;
    }

    .custom-fab {
      bottom: 70px;
      right: 25px;
      }