<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Lembretes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">

    <ion-card *ngFor="let lembrete of lembretes; let i=index">
      <ion-item>
        <ion-label>{{i+1}} - {{lembrete}}</ion-label>
        <!-- <ion-checkbox mode="ios" slot="start"></ion-checkbox> -->
      </ion-item>
    </ion-card>

    <!-- <ion-tabs>

      <ion-fab slot="bottom" class="custom-fab">
        <ion-fab-button>
          <ion-icon name="trash-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-tab-bar slot="bottom">
    
        <ion-tab-button tab="home">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button tab="calendar">
          <ion-icon name="calendar-outline"></ion-icon>
          <ion-badge>23</ion-badge>
        </ion-tab-button>
    
        <ion-tab-button tab="Reminders">
          <ion-icon name="list-sharp"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="mic">
          <ion-icon name="mic-outline"></ion-icon>
        </ion-tab-button>
        
      </ion-tab-bar>
    </ion-tabs> -->

</ion-content>
